/*this is basic code*/
h1{
   background-color:chocolate; 
   !impoetant;
    color: #fff;
}
#p2{
    background-color: aqua;
}
.class1 #internalp{
    background-color: darkseagreen;
    color: red;
    
}